# ClickHouse Credentials (OLAP - Gold Layer)
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=stock_market
CLICKHOUSE_USER=finance_admin
CLICKHOUSE_PASSWORD=finance_secure_pass123

# Data paths (Bronze and Silver - Delta Lake files)
BRONZE_PATH=/data/bronze
SILVER_PATH=/data/silver

# Airflow Metadata DB Credentials
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow_secure_pass123
AIRFLOW_DB=airflow
AIRFLOW_JWT_SECRET=finance_airflow_jwt_secure_key_2026_stock_monitoring

# Airflow Admin UI Credentials
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin_secure_pass123
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=Admin

# Airflow Core Configuration
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
