# ClickHouse Credentials (OLAP - Gold Layer)
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_MYSQL_PORT=9004
CLICKHOUSE_DB=stock_market
CLICKHOUSE_USER=finance_admin
CLICKHOUSE_PASSWORD=finance_secure_pass123

# Data paths (Bronze and Silver - Delta Lake files)
BRONZE_PATH=/data/bronze
SILVER_PATH=/data/silver

# Airflow Metadata DB Credentials
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow_secure_pass123
AIRFLOW_DB=airflow
AIRFLOW_JWT_SECRET=finance_airflow_jwt_secure_key_2026_stock_monitoring

# Airflow Admin UI Credentials
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin_secure_pass123
AIRFLOW_ADMIN_EMAIL=admin@example.com
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=Admin

# Airflow Core Configuration
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
AIRFLOW__CORE__FERNET_KEY=7S2C_6LDp7lhKI8yeiZAw74cjlskuKTqAVmAHvbYePA=

# Airflow Email Notification Configuration
ALERT_EMAIL=your_email@gmail.com

# Airflow SMTP Configuration (Required for send_email utility)
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_USER=your_email@gmail.com
AIRFLOW__SMTP__SMTP_PASSWORD=your_app_password
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_MAIL_FROM=your_email@gmail.com

# Airflow SMTP Connection
# Note: The username (email) and app password must be URL-encoded if they contain special characters (e.g. '@' becomes '%40')
AIRFLOW_CONN_SMTP_DEFAULT=smtp://your_email%40gmail.com:your_app_password@smtp.gmail.com:587?disable_ssl=true&from_email=your_email%40gmail.com

# Discord Webhook Configuration
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token