# Environment Variables
.env
!.env.example

# Python
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Virtual environments
venv/
.venv/


# macOS
.DS_Store

# IDEs / Editors
.vscode/
.idea/

# Docker
*.log
docker-compose.override.yml

# Spark / Delta / Local Data
data/
spark-warehouse/
metastore_db/
derby.log
_delta_log/
.delta_log/
*.crc

# Airflow
airflow/logs/
airflow/config/

# Custom rules
AGENTS.md